<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:if= "${Successmsg}">
        <h3 style="color: aqua;" th:text="${Successmsg}"></h3>
    </div>
    
    <div th:if= "${errormsg}">
        <h3 style="color:red;" th:text="${errormsg}"></h3>
    </div>
        <form th:action="@{/Viewlist/{ID}(ID=${user.ID})}" th:object="${user}" method="post">
            <table border="2" align="center">
            <caption><h3>Register Here...</h3></caption>

            <tr><td>Enter User-ID :</td><td><input type="number" th:field="*{ID}"/></td></tr>
            <tr><td>Enter UserName :</td><td>
            <input type="text" th:field="*{name}"/></td></tr>
            <tr><td>Enter Password :</td><td>
            <input type="password" th:field="*{password}"/></td></tr>
            <tr><td>Enter Email-ID :</td><td><input type="email" th:field="*{email}"/></td></tr>
            <tr><td>Enter Phone-No :</td><td><input type="text" th:field="*{phoneno}"/></td></tr>
            <tr><td>Enter DATE :</td><td><input type="datetime" th:field="*{date}"/></td></tr>
            <tr><td>Enter Emp_ID :</td><td><input type="number" th:field="*{emp}"/></td></tr>
            <tr><td><input type="submit" name="Register"/></td></tr>
        </table>
    <br>
    <br>
    <p align="center">If Already Registered...<a href="loginpage"><b>Login</b></a></p><br>
    <p align="center">Home Page...<a href="index.html"><b>Home</b></a></p>
        </form>
</body>
</html>